#myProgress {

    margin: 10px;
}

#container {
margin: 10px;


}
h1 {
    font-size: -webkit-xxx-large;
    font-variant: petite-caps;
}

button {

    width: 100%;
}

#question {
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 7px;
    margin-bottom: 17px;
}

 #answer {
display: none;
} 
#myProgress {
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #ddd;
  }
  
  #myBar {
    background-color: #4CAF50;
    width: 10px;
    height: 30px;
    position: absolute;
  }